/*------------------*/
/*----- Footer -----*/
/*------------------*/
#footer {
   position: absolute;
   left: 0;
   bottom: 0;
}
#footer img {
   margin: 0 0.4rem;
}
#footer.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   color: var(--color-white);
   font-weight: 500;
   letter-spacing: 0.1rem;
   width: 100vw;
   padding: 1rem 0;
}
#footer.wrapper span {
   color: var(--color-4);
}
#footer .emoji {
   vertical-align: middle;
}
